.header {
    width: 100%;
    background-color: #00000044;
}

.clock {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 30px;
    color: #FFF;
}